body{
    font-family: roboto;
}
.search-bar{
    display:block;
    height: 30px;
    background-color: white;

}
.thumbnail{
    width: 300px;
   
}
.vedio-title{
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 12px;

}
.vedio-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    

}
.channel-picture{

}
.vedio-info{
    width: 200px;
    display: inline-block;
}
.profile-picture{
    width: 40px;
    border-radius: 100%;
}
.thumbnail-row{
    margin-bottom: 10px;
}
.vedio-author, .vedio-stat{
    font-size: 12px;
    color: rgb(96,96,96);
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
.vedio-author{
    margin-bottom: 4px;
}
.vedio-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}